*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 150px;
    width: 100%;
    color: white;
    background-color: #0A0A23;
    text-align: center;
    font-family: sans-serif;
    border-bottom: 4px solid #fdb347;
}
h1{
    font-size: 55px;
    padding-top: 45px;
}
img{
    height: 375px;
    width: 400px;
    border-radius: 25px;
    margin: 15px;
}
section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
